:root {
    --color-background : #f0f8ff;
}

body {
    margin: auto 0;
    background-color: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
}